# Dependencies
node_modules/

# Build Output
dist/
out/
*.tgz

# Coverage and Reports
coverage/
*.lcov
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Logs
logs/
*.log

# Environment Variables
.env
.env.*
!.env.example

# Caches and Temp
.eslintcache
.cache/
*.tsbuildinfo
.temp/

# IDE and OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db